<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль || Имя юзера</title>
    <link rel="stylesheet" href="./style/board.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main">
        <aside class="aside">
            <div class="aside-item aside-item--active">
                <img src="./img/asideUser.png" alt="" class="img img--aside">
            </div>
            <div class="aside-item">
                <a href="/board"><img src="./img/to-do.png" alt="" class="img img--aside"></a>
            </div>
            <div class="aside-item">
                <img src="./img/luggage.png" alt="" class="img img--aside">
            </div>
        </aside>
        <div class="mainContent">
            <div class="header header--top">
                <div class="header__inner">
                    <div class="header-avatar">
                        <img src="./img/Маяк.jpg" alt="" class="header-avatar__img">
                        <div class="header-avatar__employee">
                            Шило Сергей
                        </div>
                    </div>
                    <div class="header-exit">
                        <img src="./img/enter.png" alt="" class="header-exit__img">
                    </div>
                </div>
            </div>
            <div class="after-header after-header--profile">
                <div class="line1 line1--profile">
                    <span class="text">
                        Личная информация
                    </span>
                </div>
                <div class="line2 line2--profile"></div>
            </div>
            <section class="user">
                <div class="user-information">
                    <div class="user-information-item">
                        <div class="user-information-item__title">
                            Фамилия :
                        </div>
                        <div class="user-information-item__description">
                            Шило
                        </div>
                    </div>
                    <div class="user-information-item">
                        <div class="user-information-item__title">
                            Имя :
                        </div>
                        <div class="user-information-item__description">
                            Сергей
                        </div>
                    </div>
                    <div class="user-information-item">
                        <div class="user-information-item__title">
                            Отчество :
                        </div>
                        <div class="user-information-item__description">
                            Николаевич
                        </div>
                    </div>
                    <div class="user-information-item">
                        <div class="user-information-item__title">
                            Телефон :
                        </div>
                        <div class="user-information-item__description">
                            88005553535
                        </div>
                    </div>
                    <div class="user-information-item">
                        <div class="user-information-item__title">
                            Должность :
                        </div>
                        <div class="user-information-item__description">
                            developer
                        </div>
                    </div>
                    <div class="user-information-item">
                        <div class="user-information-item__title">
                            Отделение :
                        </div>
                        <div class="user-information-item__description">
                            Домашних войск
                        </div>
                    </div>
                    <div class="user-information-item">
                        <div class="user-information-item__title">
                            Кабинет :
                        </div>
                        <div class="user-information-item__description">
                            322
                        </div>
                    </div>
                </div>
                <div class="user-tasks">
                    <div class="tasks">
                        <div class="tasks-card">
                            <div class="type">
                                Государственные
                            </div>
                            <div class="description" title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.
                            </div>
                            <!-- Если эта функция нужна будет -->
                            <div class="workers">
                                <img src="./img/defaultUser.png" alt="">
                            </div>
                        </div>
                        <div class="tasks-card">
                            <div class="type">
                                Государственные
                            </div>
                            <div class="description" title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.
                            </div>
                            <!-- Если эта функция нужна будет -->
                            <div class="workers">
                                <img src="./img/defaultUser.png" alt="">
                            </div>
                        </div>
                        <div class="tasks-card">
                            <div class="type">
                                Государственные
                            </div>
                            <div class="description" title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.
                            </div>
                            <!-- Если эта функция нужна будет -->
                            <div class="workers">
                                <img src="./img/defaultUser.png" alt="">
                            </div>
                        </div>
                        <div class="tasks-card">
                            <div class="type">
                                Государственные
                            </div>
                            <div class="description" title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.
                            </div>
                            <!-- Если эта функция нужна будет -->
                            <div class="workers">
                                <img src="./img/defaultUser.png" alt="">
                            </div>
                        </div>
                        <div class="tasks-card">
                            <div class="type">
                                Государственные
                            </div>
                            <div class="description" title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsum ducimus beatae quae tempora veniam officia consequatur atque totam veritatis, cum incidunt voluptates, iure exercitationem sit suscipit repudiandae aut cupiditate.
                            </div>
                            <!-- Если эта функция нужна будет -->
                            <div class="workers">
                                <img src="./img/defaultUser.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>