*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background: #F5F5F5;
}

:root {
    --colorForWork: #1560BD;
}

/* Main */

.main {
    display: flex;
}

.aside {
    width: 150px;
    height: 100vh;
    background: #1560BD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    box-shadow: 10px 0 15px 5px #d3d3d3;
}

.aside-item {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background .5s ease;
}

.aside-item--active {
    background: rgba(254, 254, 254, .2);
}

.aside-item:hover {
    background: rgba(254, 254, 254, .2);
}

.img--aside {
    width: 45px;
    height: 45px;
}

.modal-aside {
    width: 250px;
    height: 100vh;
    background: rgba(21, 96, 189, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.modal-aside .title {
    width: calc(100% - 20px);
    margin: 55px 10px 10px 10px;
    text-align: center;
}

.categoris {
    width: calc(100% - 40px);
    height: 85vh;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    font-family: 'Oswald', sans-serif;
}

.categoris-item {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.text {
    font-size: 30px;
}

.counter {
    min-width: 50px;
    width: auto;
    height: 30px;
    background: #000;
    border-radius: 20px;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    padding: 5px;
}

.all-tasks {
    background: #423189;
}

#work {
    background: var(--colorForWork);
}

.categoris-item {
    width: 100%;
}

.categoris-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content {
    width: calc(100% - 400px);
    padding: 0 100px 0 20px;
}

.header--top {
    min-height: 150px;
    margin-bottom: 30px;
}

.header__inner {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.search-form {
    max-width: 60%;
    min-width: 50%;
    position: relative;
}

.search {
    width: 100%;
    padding: 10px 8px 10px 50px;
    border: #99958C solid 2px;
    border-radius: 25px;
    font-size: 20px;
}

.img--lens {
    position: absolute;
    top: 7px;
    left: 10px;
}

.nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.notif-counter {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 14px;
    background: red;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

.nav-item:visited {
    text-decoration: none;
    color: #000;
}

.text--header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.img--avatar {
    width: 32px;
    height: 35px;
}

.after-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.line1, .line2 {
    content: "";
    width: 100%;
    height: 2px;
    background: #1560BD;
}

.line1 {
    width: 130px;
    height: 6px;
    position: relative;
}

.line1 .text {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: -50px;
    left: 10px;
}

.greet-message {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
}

.username {
    color: #1560BD;
    font-weight: bold;
    text-transform: uppercase;
}

.buttons-process {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    column-gap: 150px;
}

.bp-item {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: #F5F5F5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.bp-item .text {
    font-size: 30px;
}

.bp-item--all-task {
    background: #423189;
}

.bp-item--in-progress {
    background: #FFB841;
}

.bp-item--completed {
    background: #1560BD;
}

.bp-item--new-task {
    border: 2px solid #99958C;
    color: #99958C;
    display: flex;
    justify-content: center;
}

.task-sec {
    width: 100%;
    overflow: hidden;
}

.task-sec-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.wrapper-task-sec-title__button {
    width: 45px;
    height: 45px;
}

.task-sec-title__button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.task-sec-title__slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: relative;
}

.task-sec-title-slider__button {
    width: 40px;
    height: 40px;
    border: 2px solid #1560BD;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-sec-wrapper {
    width: 100%;
    max-height: calc(100vh - 558px);
    overflow: auto;
    display: flex;
    transition: all .4s ease;
}

.employee-tasks {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.employee-tasks-main-content {
    width: 100%;
    max-height: calc(100vh - 668px);
    display: flex;
    column-gap: 30px;
    overflow: auto;
}

.employee-tasks__item {
    min-width: 500px;
    max-height: calc(100vh - 578px);
    overflow: auto;
    padding: 0 20px 20px 20px;
}

.employee-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 50px;
}

.employee-task-pack {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.task-pack__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding: 20px 0;
    border: 2px solid #99958C;
    border-right: none;
    border-left: none;
}

.task-pack__item--active {
    border: 2px solid #1560BD;
    border-right: none;
    border-left: none;
    color: #1560BD;
}

.task-pack-name {
    overflow: hidden;
    font-size: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-pack-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
}

.task-pack-checkbox {
    border: 2px solid #99958C;
    min-width: 40px;
    min-height: 40px;
    position: relative;
}

.task-pack-checkbox--active {
    border: 2px solid #1560BD;
}

.task-pack-checkbox:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 25px;
    height: 25px;
    border-radius: 1px;
    background: #1560BD;
    opacity: 1;
}

.employee-tasks-bottom-content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
    padding: 20px;
}

.tasks-card {
    width: calc(25% - 50px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 2px solid  var(--colorForWork);
    background: #fff;
    box-shadow: 0 5px 10px 3px #d3d3d3;
    padding: 20px 30px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

.type {
    font-family: 'Oswald', sans-serif;
    background: #F5F5F5;
    color: var(--colorForWork);
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 18px;
}

.description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 25px;
}

.workers {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(3, 3, 3, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-window {
    width: 400px;
    min-height: 50vh;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes popUp {
    0%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes popDown {
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(0);
    }
}

.mw-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mw-top__title {
    font-weight: bold;
    background: #F5F5F5;
    color: var(--colorForWork);
    border-radius: 10px;
    padding: 4px 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.mw-content {
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

.mw-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mw-bottom__exit {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #F5F5F5;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: var(--colorForWork);
}

.modal-window--newTasks {
    width: 700px;
    overflow: hidden;
}

.slider-line {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    position: relative;
    right: 0;
    transition: all .6s ease;
}

.form--newTasks {
    min-width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.mw-top__button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #F5F5F5;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: var(--colorForWork);
}

.mw-content--newTasks {
    height: calc(50vh - 126px);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: auto;
}

.mw-content__item {
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mw-content-item__text {
    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    background: #fff;
    z-index: 1;
}

.task {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.symbol {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.symbol-img {
    width: 100%;
    height: 100%;
}

.tilt {
    transform: rotate(45deg);
    transition: all .4s linear;
}

.reverseTilt {
    transform: rotate(0deg);
    transition: all .4s linear;
}

.mw-content-item__right {
    width: 24%;
    height: auto;
    background: #fff;
    z-index: 1;
}

.task-check {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.task-chek__deadline {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

#task {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
}

#task {
    border: 2px solid #1560BD;
    min-width: 20px;
    min-height: 20px;
    position: relative;
}

#task:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 10px;
    height: 10px;
    border-radius: 1px;
    background: #1560BD;
    opacity: 1;
}

.mw-content__hidden-item {
    width: 100%;
    min-height: auto;
    overflow: hidden;
}

.mw-content-hidden-item__text {
    width: 100%;
    padding: 20px;
    background: #F5F5F5;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    animation: slowDown .6s linear forwards;
}

@keyframes slowDown {
    0%
    {
        transform: translateY(-100%);
    }

    100%
    {   
        transform: translateY(0);
    }
}

@keyframes slowUp {
    0%
    {
        transform: translateY(0);
    }

    100%
    {   
        transform: translateY(-100%);
    }
}

.form-createTask {
    min-width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mw-top__button-back{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #F5F5F5;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: var(--colorForWork);
}

.mw-top-button__img {
    width: 30px;
    height: 24px;
}

.mw-content--createTasks {
    margin-top: 30px;
    height: calc(60vh - 126px);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow: auto;
}

.form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative
}

.form-item__input {
    width: 100%;
    color: #1560BD;
    border: none;
    border-bottom: 2px solid #1560BD;
    margin-top: 20px;
    font-weight: regular;
    font-size: 25px;
    background: transparent;
    z-index: 1;
}

.textarea-input {
    border: 2px solid #1560BD;
    padding: 10px;
}

.form-item__label {
    color: #1560BD;
    position: absolute;
    top: 15px;
    left: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: regular;
    font-size: 25px;
    transition: all .5s ease;
    z-index: 0;
}

.textarea-label {
    top: -15px;
}

.date-label {
    top: -15px;
}

.form-item__input:focus ~ .form-item__label, .form-item__input:valid ~ .form-item__label {
    top: -15px;
    font-size: 20px;
}

.date-input {
    font-size: 55px;
    text-align: center;
}

.mw-content-input__submit {
    width: 300px;
    padding: 15px 30px;
    margin: 0 auto;
    font-size: 25px;
    border: 2px solid #1560BD;
    cursor: pointer;
    background: transparent;
    color: #1560BD;
}

.wrapper-notification {
    position: fixed;
    top: 120px;
    right: 320px;
    width: 440px;
    min-height: 50vh;
    padding: 20px 20px;
    overflow: hidden;
    background: transparent;
}

.modal-window--notifications {
    position: relative;
    box-shadow: 0 5px 10px 3px #d3d3d3;
}

.mw-content__item--notif {
    display: flex;
    align-items: center;
    border-top: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
}

.type-notif {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.img-type {
    width: 100%;
    height: 100%;
}



.mw-bottom__add {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #F5F5F5;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: var(--colorForWork);
}







/* Vacation */

.mainContent {
    width: calc(100% - 150px);
    padding: 0 100px 0 20px;
}

.current-date {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.current-date__item:first-child {
    font-size: 50px;
}

.current-date__item:last-child {
    width: 50px;
    height: 50px;
}

.cd-item__img {
    width: 100%;
    height: 100%;
}

.afterHeader {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-switcher {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.left-arrow, .right-arrow {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.year {
    font-size: 45px;
}

.ys-item__img {
    width: 100%;
    height: 100%;
}

.line {
    width: 100%;
    margin-bottom: 50px;
}

.blod-line {
    content: "";
    width: 130px;
    height: 6px;
    background: #1560BD;
    position: relative;
    bottom: -5px;
}

.line-text {
    position: absolute;
    left: 8px;
    bottom: -30px;
}

.months {
    width: 100%;
}

.months-top {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.months-top__button {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
}

.selected-months {
    font-size: 40px;
}

.img-wrapper {
    width: calc(100% + 40px);
    max-height: calc(100vh - 578px + 40px);
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.tasks--vacation {
    max-height: calc(100vh - 578px);
}

.tasks-card--glassess {
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(20px);
    z-index: 2;
}

.winter {
    color: #30D5C8;
    border-top: 2px solid #30D5C8;
    font-family: 'Oswald', sans-serif;
}

.spring {
    color: #FFB841;
    border-top: 2px solid #FFB841;
    font-family: 'Oswald', sans-serif;
}

.summer {
    color: #34C924;
    border-top: 2px solid #34C924;
    font-family: 'Oswald', sans-serif;
}

.autumn {
    color: #900020;
    border-top: 2px solid #900020;
    font-family: 'Oswald', sans-serif;
}

.months-name {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    /* background: #F5F5F5;
    border-radius: 10px;
    padding: 4px 8px; */
}

.background-img {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: -1;
}





/* Profile */

.header-avatar {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header-avatar__img {
    width: 200px;
    height: 200px;
    border: 5px solid #1560BD;
}

.header-avatar__employee {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.header-exit__img {
    width: 60px;
    height: 60px;
}

.after-header--profile {
    margin-top: 150px;
}

.line1--profile {
    width: 300px;
    height: 6px;
}

.line2--profile {
    height: 3px;
}

.user {
    width: 100%;
    max-height: calc(100vh - 450px);
    overflow: auto;
    display: flex;
    align-items: start;
}

.user-information {
    width: calc(30% + 30px);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 20px 0;
    margin-right: 30px;
}

.user-information-item {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 20px 0;
    border: 2px solid #99958C;
    border-left: none;
    border-right: none;
}

.user-information-item__title {
    width: 50%;
    justify-content: flex-start;
    font-size: 30px;
}

.user-information-item__description {
    width: 50%;
    justify-content: flex-start;
    font-size: 30px;
}

.user-tasks {
    width: calc(70% - 30px);
}




.dn {
    display: none;
}



@media (max-width: 2095px) {
    .bp-item, .bp-item .text {
        font-size: 25px;
    }
}

@media (max-width: 1950px) {
    .buttons-process {
        column-gap: 100px;
    }
}

@media (max-width: 1800px) {
    .buttons-process {
        column-gap: 20px;
    }

    .bp-item, .bp-item .text {
        font-size: 22px;
    }

    .bp-item {
        padding: 10px 15px;
    }

    .tasks {
        row-gap: 70px;
        column-gap: 20px;
    }

    .tasks-card {
        width: calc(33.333% - 50px);
    }
}

@media (max-width: 1400px) {
    .aside {
        max-width: 100px;
    }
    
    .modal-aside {
        max-width: 200px;
    }

    .title {
        font-size: 30px;
    }

    .categoris-item {
        font-size: 20px;
    }

    .categoris-item .text {
        font-size: 25px;
    }

    .counter {
        font-size: 18px;
    }

    .main-content {
        width: calc(100% - 300px);
    }
}