:root {
    --main-color: #FFFAFA;
    --text-color: #212226;
    --text-color-white: #FFFAFA;
    --text-color-dark: #212226;
    --second-text-color: #FFFAFA;
    --border-color: #474F59;
    --box-shadow-on-dark: #030303;

    --table-hover: #d3d3d3;

    --color-green: rgb(0, 150, 146);
}

/* Table */

table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc_dark.svg") !important;
    background-position-x: 100%;
}

table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc_dark.svg") !important;
    background-position-x: 100%;
}

/* Page-header */

.nav-item-theme {
    background: url(../images/light_off.svg) !important;
}

/* Vacation */

.select-year {
    border-color: var(--text-color) !important;
}

.overflowON::after {
    background-image: url(../images/down-arrow-dark.svg) !important;
}

.overflowOFF::after {
    background-image: url(../images/up-arrow-dark.svg) !important;
}