* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

body {
    background: var(--main-color);
    font-family: 'Rubik', sans-serif;
}

/* Wrapper */

.wrapper {
    padding: 0 60px;
}

/* Header */

.header {
    width: 100%;
}

/* Text */

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.text {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: var(--text-color);
}

.subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--text-color);
}

/* Button */

.button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px 1px #030303;
}

button:active {
    transform: translate3d(-1px, 1px, 0);
    box-shadow: inset 2px 2px 5px #000;
}

/* Nav */

.nav {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.nav__link {
    font-size: 25px;
    text-decoration: none;
}

.nav_width_50 {
    width: 50%;
}

.nav__link_color_white {
    color: var(--text-color);
}

.user_nav {
    justify-content: flex-end;
    column-gap: 20px;
}

/* Images */

img {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.fill_white {
    fill: var(--text-color);
}

.nav__svg {
    width: 40px;
    height: 40px;
}

/* Select */

.select {
    width: 100%;
    font-size: 21px;
    background: transparent;
    border-color: var(--main-color);
    border-bottom: 2px solid;
    border-bottom-color: var(--border-color);
    color: var(--text-color);
}

option {
    background: var(--main-color);
}

/* Input */ 

input {
    width: 100%;
    font-size: 25px;
    padding: 0 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--border-color);
    color: var(--text-color);
}

input[type=checkbox] {
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Table */

#tasksTable {
    /* animation: crawlDown 1s ease-in-out forwards; */
}

@keyframes crawlUp {
    0%
    {
        transform: translateY(150px);
    }
    100%
    {
        transform: translateY(0);
    }
}

@keyframes crawlDown {
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(150px);
    }
}

caption {
    margin-bottom: 20px;
}

thead tr th:hover {
    background: var(--table-hover);
    color: var(--text-color);
}

thead tr th:hover .table-checkbox_color_dark {
    border-color: var(--text-color);
}

tbody tr {
    color: var(--text-color);
}

tbody tr:hover {
    background: var(--table-hover);
}

tbody tr td {
    padding: 0;
}

.table-checkbox {
    content: "";
    border: 1px solid var(--text-color);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.table-checkbox_checked {
    background: var(--text-color);
    opacity: 1;
}

.table-checkbox_color_dark {
    border-color: var(--border-color);
}

/* Modal-window */

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(3, 3, 3, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-window {
    width: 80%;
    background: var(--main-color);
    color: var(--text-color);
}

.content {
    padding: 50px;
    border-bottom: 1px solid var(--border-color);
}

.top-content {
    padding: 25px 50px;
}

.top-content-title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.middle-content {
    width: 100%;
}

.middle-content-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
}

.form-item {
    width: 30%;
}

.form-item__text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.form-item__subtitle {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 20px;
}

.bottom-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
    border-bottom: none;
}

.bottom-content__button {
    background: var(--border-color);
    color: var(--text-color-white);
    font-size: 20px;
}

.button_save {
    background: #b68861;
    color: var(--main-color);
}

/* Page-header */

.page-header {
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}

.page-header-header {
    padding: 40px 0;
}

.page-header-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-header_theme_main-color {
    background: var(--main-color);
}

.nav-item-theme {
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(../images/light_off.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item_notification {

}

.nav-item-current-user {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.current-user-user-name {
    font-size: 25px;
    color: var(--text-color);
}

/* Page-main */

.page-main {
    width: 100%;
    padding: 50px 0;
}

.page-main-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
}

.before-table {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.filters {
    width: 50%;
    display: flex;
    column-gap: 50px;
}

.filters-item {
    width: 100%;
    color: var(--text-color);
}

.filters-item-select {

}

.filters-item__subtitle {
    font-size: 20px;
    padding-top: 10px;
}

.filter-item__input {

}

.search-form__button {
    width: 34px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
}

.buttons-button {
    background: var(--border-color);
    color: var(--text-color-white);
    font-size: 20px;
}

.buttons-button_theme_brown {
    background: #b68861;
    color: var(--text-color-dark);
}

.buttons-button_theme_winter {
    background: #30D5C8;
    color: var(--text-color-dark);
}

.options {
    position: absolute;
    top: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    opacity: 0;
}

@keyframes opacity1 {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes opacity0 {
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.options__text {
    color: var(--border-color);
    font-size: 20px;
}

.instruments {
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.instruments__button {
    padding-left: 60px;
    font-size: 17px;
    background: var(--border-color);
    color: var(--text-color-white);
}

.instruments__button_theme_red {
    background: #9e353a;
}

.instruments__button_bg_trash {
    background-image: url(../images/trash.svg);
}

.instruments__button_bg_document {
    background-image: url(../images/document.svg);
}

.instruments__button_bg_refresh {
    background-image: url(../images/refresh.svg);
}

.instruments__button {
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
    background-size: 24px;
}

.status {
    background: #1f4929;
    color: var(--text-color-white);
    padding: 5px 10px;
    border-radius: 10px;
}

.actions {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.actions-item {
    width: 25px;
    height: 25px;
}

.more {
    position: relative;
}

.list-more {
    width: 250px;
    background: var(--main-color);
    box-shadow: 0 0 10px 5px #030303;
    position: absolute;
    left: -150px;
    padding: 20px 0;
    z-index: 3;
}

.list-more-item {
    width: 100%;
    padding: 20px 20px;
    cursor: pointer;
}

.list-more-item:hover {
    background: var(--border-color);
}

/* Profile */

.page-main-inner-profile {
    row-gap: 100px;
}

.current-user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.current-user-avatar {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 15px 4px var(--text-color);
}

.current-user-information {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* All-tasks */

.buttons-button_bg_arrow_back {
    padding-left: 60px;
    background-image: url(../images/left-arrow-long.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
    background-size: 24px;
}

.instruments__button_theme_green {
    background: #1f4929;
}

.instruments__button_bg_plus {
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
    background-size: 24px;
}

/* Hidden */

.hidden {
    display: none;
}